
.navbar-brand img{
    width: 100px;
}
.login-icon{
    color: white;
    padding-left: 10px;
}
.dropdown-menu{
    margin-left: 80%;
    border: none;
    color: red;
}
.dropdown-menu li a{
    color: red;
}
dropdown-item:hover{
    background-color: white;
}
nav{
    background-color: black;
}
.drop{
    color: white;
}
header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;

}

.nav-menu{
    margin-left: 100px;
}
.btn-agency{
    background-color: goldenrod;
    border: none;
}
.btn-agency:hover{
    background-color: goldenrod;
}
h1{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
    margin-top: -10px;
}
.hero-text{
    margin-top: 200px;
    
}
.hero{
    position: relative;
}
.hero-img img{
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 45%;
    z-index: -99;
}
.hero-bottom{
    margin-top: 300px;
    margin-left: 25px;
    margin-bottom: 0;
}
.box-items{
    height: 400px;
    width: 400px;
    text-align: center;
    padding-top: 40px;
    transition: all ease 0.5s;

}
.box-items:hover{
    transform: scale(1.1);
    z-index: 99;
}
.item-1{
    background-color: goldenrod;
}
.item-2{
    background-color: goldenrod;
}
.item-3{
    background-color: goldenrod;
}
.box-items i{
    background-color: #ffff;
    padding: 20px;
    border-radius: 50%;
}
.box-items h3{
    color: #ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
}
.box-items p{
    color: #ffff;
    font-size: 12px;
}
.btn-items{
    background-color: #ffff;
    color: rgb(116, 0, 224);
    border: none;
}
.btn-items:hover{
    background: rgb(193, 193, 193);
    color: rgb(116, 0, 224);
}

